.accordion {}


.accordion-item {
	border: 1px solid green
}

.accordion-item:has(:checked) {}


.accordion-item__content {
	display: grid;
	grid-template-areas:
		'description icon'
		'image image';
	grid-template-columns: 1fr auto;
	grid-template-rows: min-content min-content;
}

.accordion-item__input:checked + .accordion-item__content .accordion-item__image-wrapper {
	max-block-size: 30rem;
	background-color: red;

}

.accordion-item__description {
	grid-area: description;
	background-color: red;
	align-self: center;

}

.accordion-item__icon {
	grid-area: icon;
	align-self: center;
	justify-self: end;
	inline-size: 4rem;
	block-size: 4rem;
}

.accordion-item__image-wrapper {
	grid-area: image;
	justify-self: center;
	max-block-size: 0;
	transition: max-block-size .3s linear;
}

.accordion-item__image {
	max-block-size: 100%;
	max-inline-size: 100%;
}